.Comparator {
  font-family: anta, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.Comparator-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Comparator-header h1 {
  font-size: 2.6rem;
}

.Comparator-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.Comparator-button {
  font-size: 2rem;
  color: coral;
  cursor: pointer;
}
.Comparator-button:hover {
  font-variation-settings: "FILL" 100;
}
.Comparator-output p {
  padding: 0 6rem;
}
.Comparator-result {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  height: 5vw;
  width: 5vw;
  border: rgba(173, 104, 8, 0.04);
  background-color: rgba(173, 104, 8, 0.04);
  border-radius: 3rem;
}
.Comparator-exp-input {
  font-family: anta, sans-serif;
  font-size: 2rem;
  width: 40vw;
  text-align: center;
  border: none;
  margin-top: 1rem;
  outline: none;
  background-color: rgba(173, 104, 8, 0.04);
  font-family: "Dancing Script", cursive;
  caret-color: transparent;
}

.Variables-table {
  background-color: rgba(173, 104, 8, 0.04);
  text-align: center;
}

.Variables-values {
  cursor: pointer;
}

.Info-button {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(173, 104, 8, 0.04);
  border-radius: 50%;
}

@media screen and (max-width: 49em) {
  .Comparator {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .Comparator-exp-input {
    width: 80vw;
  }
  .Comparator-result {
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
  }
}
